extends layout
include mixin/svgFile
include mixin/svgFolder

block nav
    div.nav__title.
        Ветки
    each br in branches
        if (br === branch)
            div.nav__row.nav__row_active
                a(href=`/${br}` class="nav__row-link")= br
        else
            div.nav__row
                a(href=`/${br}` class="nav__row-link")= br

block content
    div.content__select-commit= `Выбранный комит: ${hash}`
    div.content__main
        div.content__tree
            div.content__tree-title Дерево

            each elem in tree
                div.content__tree-row(class= elem.type === 'tree' ? 'content__row-folder' : 'content__row-blob')
                    //- elem.path есть только в поддеревьях (в дереве главной ветки, например master, нету)
                    if elem.path
                        if elem.first
                            +svgFolder
                            a(href=`/commit/${elem.path}` class="content__tree-item content__tree-back")= elem.name
                        else if elem.type === 'tree'
                            +svgFolder
                            a(href=`/commit/${hash}/tree/${elem.path}` class="content__tree-item")= elem.name
                        else
                            +svgFile
                            a(href=`/commit/${hash}/blob/${elem.path}` class="content__tree-item")= elem.name
                    else
                        if elem.type === 'tree'
                            +svgFolder
                            a(href=`/commit/${hash}/tree/${elem.name}` class="content__tree-item")= elem.name
                        else
                            +svgFile
                            a(href=`/commit/${hash}/blob/${elem.name}` class="content__tree-item")= elem.name